.c8d8e6.tl-v {
  padding: 5px !important;
  text-align: left !important;
}

.c8d8e6.tl-h {
  float: left;
  width: auto !important;
  padding: 0 !important;
  margin: 0 !important;
}

.c8d8e6 {
  font-size: 12px !important;
  background-color: #ffffff !important;
  border: 1px solid #e0e0e0e !important;
}

.c8d8e6.tl-h .tl-left {
  float:left;
  display: block;
  padding: 5px !important;
  text-align: left !important;
  font-size: 12px !important;
}

.c8d8e6 a {
  color: #0000cc !important;
  font-weight: normal;
  font-size: 12px !important;
}

.c8d8e6 .text {
  color: #000000 !important;
  font-size: 12px !important;
  padding: 3px 0 !important;
  line-height: normal !important;
}

.c8d8e6 .host {
  color: #006600;
  font-weight: normal;
  font-size: 12px !important;
  padding: 3px 0 !important;
  line-height: normal !important;
}
