<div class="c8d8e6 tl-h">
<{block}>
  <div class="tl-left">
    <{head_block}><span><{link}></span><br/><{/head_block}>
    <span class="text"><{text}></span><br/>
    <span class="host"><{host}></span>
  </div>
<{/block}>
</div>
